@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-family: "微軟雅黑";
}
body>main{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 5%;
}
body>header{
    z-index: 1000;
    top: 0;
    position: fixed;
}
.blogTitle{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0);
    user-select: none;
}
@media screen and (max-width: 601px) {
    body>main{
        padding-top: 15%;
    }
    .blogTitle>h1{
        margin-right: 0%;
        font-size: 20px;
    }
    .blogTitle>nav>p{
        display: none;
    }
    .blogTitle{
        position: fixed;
    }
    #me{
        width: 100px;
        height: auto;
    }
    p{
        font-size: 0.9em;
    }
    #catalog{
        display: none;
    }
    .themeToggle {
        width: 25px;
    }
}

@media screen and (max-width: 1224px) {
    body>main{
        padding-top: 20%;
    }
    .blogTitle>nav>p{
        display: none;
    }
    .blogTitle{
        position: fixed;
    }
    p{
        font-size: 0.9em;
    }
    .themeToggle {
        width: 40px;
    }
}

@media screen and (min-width: 1225px) {
    body>main{
        padding-top: 5%;
    }
    .blogTitle{
        position: fixed;
    }
    .themeToggle {
        width: 20px;
    }
}
.blogTitle>nav,.blogTitle>.themeToggle{
    padding-left: 2%;
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.blogTitle > nav::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #13c2c2;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.blogTitle > nav:hover::after {
    visibility: visible;
    width: 100%;
}
.blogTitle>nav>span,.blogTitle>nav>img,.cp>span{
    height: 100%;
    width: 30px;
    padding-top: 5%;
    float: left;
    margin-right: 10px;
    color: aliceblue;
}
.blogTitle>nav>p,.cp>p{
    font-size: 15px;
    font-weight: bold;
    color: #13c2c2;
    padding: 0 40px;
    padding-top: 5%;
}
article {
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-repeat: no-repeat;
    transition: background-color 2s;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    transition: opacity 2s;
    margin-left: 2%;
    margin-right: 2%;
}

article img:hover {
    transform: scale(1.05);
}
article.fadeIn {
    opacity: 1;
}
hr {
    border-top: 1px solid rgba(0, 0, 0.2);
    margin: 50px 0 20px;
}

footer {
    text-align: center;
}
h1{
    margin-left: 20%;
    color: #f0883e;
}
h2{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align:center;
    font-size: 30px;
    text-shadow:  0 0 2px hsl(40, 28.57% , 28.82%),0 0 2px hsl(40, 28.57% , 28.82%), 0 0 2px hsl(40, 28.57% , 28.82%);
    color: var(--h2-text-color);
}
h3{
    text-align: center;
    color: var(--h3-text-color);
    text-shadow: 0 0 0.5em #315f8f, 0 0 0.2em #5c5c5c;
}
a,p>a{
    color: var(--a-color);
}
a:hover,p>a:hover{
    color: #f0883e;
}
p{
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 10px;
    color: var(--text-color);
}
section>p,section>ul{
    margin-left: 20px;
    margin-right: 20px;
}
.smalltitle{
    color: var(--smalltext-color);
    text-decoration: underline;
    text-align: center;
}
.link:hover,.smalltitle:hover{
    text-decoration: none;
}

.about {
    text-decoration: underline;
    color:  #f0883e;
    padding: 2px 0;
    text-align: center;
}
.about:hover {
    text-decoration: none;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@keyframes moveAndFade {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }
    to {
        opacity: 0;
        transform: translate(var(--x), var(--y));
    }
}

.ball {
    animation: moveAndFade 300ms linear forwards;
}
.cp {
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    background-color: #000;
    z-index: 999;
}
.img-photo {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--img-color);
    display: block;
}
:root {
    --background-color-light: #ffffff; 
    --text-color-light: #333333;
    --smalltext-color-light: #2f9c0a;
    --a-color-light:#c92c2c;
    --h2-text-color-light: #f0883e;
    --h3-text-color-light: #1990b8;
    --img-color-light:black;
    --background-color-dark: rgb(46, 51, 73);
    --text-color-dark: aliceblue;
    --smalltext-color-dark: #FFFFCC;
    --a-color-dark:#FFFFCC;
    --h2-text-color-dark: #f0883e;
    --h3-text-color-dark: #13c2c2;
    --img-color-dark:aliceblue;
    --highlight-dark:#333333;
    --highlight-light:#1990b8;
    --text-color: var(--text-color-dark);
    --bg-color: var(--background-color-dark);
    --smalltext-color: var(--smalltext-color-dark);
    --a-color:var(--a-color-dark);
    --about-text:© 2024 陳國翔. All rights reserved.;
    --h2-text-color:var(--h2-text-color-dark);
    --h3-text-color:var(--h3-text-color-dark);
    --img-color:var(--img-color-dark);
    --highlight:var(--highlight-dark);
}
.dark-theme {
    --text-color: var(--text-color-dark);
    --bg-color: var(--background-color-dark);
    --smalltext-color: var(--smalltext-color-dark);
    --a-color:var(--a-color-dark);
    --h2-text-color: var(--h2-text-color-dark);
    --h3-text-color: var(--h3-text-color-dark);
    --img-color:var(--img-color-dark);
    --highlight:var(--highlight-dark);
}

.light-theme {
    --text-color: var(--text-color-light);
    --bg-color: var(--background-color-light);
    --smalltext-color: var(--smalltext-color-light);
    --a-color:var(--a-color-light);
    h3{
        text-shadow: none;
    }
    --h2-text-color: var(--h2-text-color-light);
    --h3-text-color: var(--h3-text-color-light);
    --img-color:var(--img-color-light);
    --highlight:var(--highlight-light);
    .switch{
        transform: translateX(calc(100%*0.7));
    }
}
#catalog{
    position: fixed;
    padding-top: 5%;
    width: 20%;
    border-radius: 2px;
    cursor: pointer;
}
#catalog>nav>p{
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
}
#catalog nav.active {
    background-color: #f0883e;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
#loadingScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#mainContent {
    display: none;
}
.themeToggle {
    --background: #FFF;
    height: 30px;
    background: var(--highlight);
    border-radius: 50px;
    position: relative;
    .switch {
        width: 24px;
        height: 24px;
        background: var(--h2-text-color-light);
        border-radius: 100%;
        position: absolute;
        top: 3px;
        left: 4px;
        transition: 0.5s all ease;
    }
}