@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-family: "微軟雅黑";
}
body>main{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 5%;
}
body>header{
    z-index: 1000;
    top: 0;
    position: fixed;
}
.blogTitle{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0);
}
@media screen and (max-width: 601px) {
    body>main{
        padding-top: 15%;
    }
    .blogTitle>h1{
        margin-left: 0%;
        font-size: 16px;
    }
    .blogTitle>nav>p{
        display: none;
    }
    .blogTitle{
        position: fixed;
    }
}

@media screen and (max-width: 1224px) {
    body>main{
        padding-top: 20%;
    }
    .blogTitle>nav>p{
        display: none;
    }
    .blogTitle{
        position: fixed;
    }
}

@media screen and (min-width: 1225px) {
    body>main{
        padding-top: 5%;
    }
    .blogTitle{
        position: fixed;
    }
}
.blogTitle>nav{
    padding-left: 2%;
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}
.blogTitle>nav:hover{
    background-color: rgb(255 255 255 / 15%);
}
.blogTitle>nav>img{
    height: 100%;
    width: 30px;
    padding-top: 5%;
    float: left;
    margin-right: 10px;
}
.blogTitle>nav>p{
    font-size: 15px;
    color: #13c2c2;
    padding: 0 40px;
    padding-top: 5%;
}
/* 定義聚光燈動畫 */
@keyframes spotlight {
    0% {
        box-shadow: 0 0 25px 25px rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.7);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

article {
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    background-color:rgb(255 255 255 / 10%);
    background-repeat: no-repeat;
    color: aliceblue;
    transition: background-color 2s;
    opacity: 0;
    transition: opacity 2s;
}
#region{
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
article.fadeIn {
    opacity: 1;
}

article:hover,
article.clicked {
    background-color: rgb(255 255 255 / 15%);
}
hr {
    border-top: 1px solid rgba(0, 0, 0.2);
    margin: 50px 0 20px;
}

footer {
    text-align: center;
}
h1{
    margin-left: 20%;
    color: #f0883e;
}
h2{
    margin-top: 5;
    margin-bottom: 0;
    text-align:center;
    color: #f0883e;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h3{
    text-align: center;
    color: #13c2c2;
    text-shadow: 0 0 0.5em #315f8f, 0 0 0.2em #5c5c5c;
}
a{
    color: #023786;
}
a:hover{
    color: #f0883e;
}
p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 10px;
}
.smalltitle{
    color: #FFFFCC;
    text-decoration: underline;
    text-align: center;
}
.link:hover,.smalltitle:hover{
    text-decoration: none;
}
.a-detail {
    color: #13c2c2;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}
#info-detail{
    color: aliceblue;
    display: inline-block;
    animation: blink 1s steps(1, end) infinite;
    margin-bottom: 20px;
}
.a-detail::before {
    content: attr(data-tooltip);
    position: absolute;
    width: 120%;
    background-color: #333;
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    border-radius: 5px;
    top: -30px;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    z-index: 1000;
}

.a-detail:hover::before {
    opacity: 1;
}

.about {
    text-decoration: underline;
    color:  #f0883e;
    padding: 2px 0;
    text-align: center;
}
.about:hover {
    text-decoration: none;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(46, 51, 73);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.enlarge {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: auto;
    z-index: 9999;
}

.img-photo {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid aliceblue;
    display: block;
}
@keyframes moveAndFade {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }
    to {
        opacity: 0;
        transform: translate(var(--x), var(--y));
    }
}

.ball {
    animation: moveAndFade 300ms linear forwards;
}
.cp {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: #f0883e;
    font-size: 20px;
    text-decoration: none;
    background-color: #333;
    border-radius: 5px 0 0 0;
    z-index: 1000;
}