@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-family: "微軟雅黑";
}
body>main{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 5%;
}
body>header{
    z-index: 1000;
    top: 0;
    position: fixed;
}
.blogTitle{
    width: 100%;
    display: flex;
    background-color: rgba(0,0,0);
    user-select: none;
}
.sticky{
    padding-left: 40%;
    align-items: center;
}
.menu{
    position: absolute;
    cursor: pointer;
    right: 10px;
}
.hamburger{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0);
}
.hamburger>div{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-top:  1px solid aliceblue;
    border-bottom: 1px solid aliceblue;
    padding: 10px 0;
    justify-content: center;
    cursor: pointer;
}
.hamburger>div:hover {
    transform: scale(1.05);
}
.menu>span.material-symbols-sharp,.hamburger>div>span.material-symbols-sharp{
    font-size: 2em;
}
@media screen and (max-width: 601px) {
    body>main{
        padding-top: 15%;
    }
    h1{
        font-size: 40px;
    }
    .blogTitle{
        height: 10%;
    }
    .menu>span.material-symbols-sharp,.hamburger>div>span.material-symbols-sharp{
        font-size: 3em;
    }
    .sticky{
        display: none;
    }
    p{
        font-size: 0.9em;
    }
    #catalog{
        display: none;
    }
}

@media screen and (min-width: 1225px) {
    body>main{
        padding-top: 5%;
    }
    .sticky{
        display: flex;
    }
}
.sticky>nav{
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.sticky>nav::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #13c2c2;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.sticky>nav:hover::after{
    visibility: visible;
    width: 100%;
}
.sticky>nav>span,.menu>span{
    height: 100%;
    width: 30px;
    padding-top: 5%;
    float: left;
    margin-right: 10px;
    color: aliceblue;
}
.sticky>nav>p{
    font-size: 15px;
    font-weight: bold;
    color: #13c2c2;
    padding: 0 40px;
    padding-top: 5%;
}
.hamburger>div>span{
    height: 100%;
    width: 60px;
    float: left;
    margin-right: 10px;
    color: aliceblue;
}
.hamburger>div>p{
    font-size: 30px;
    font-weight: bold;
    color: #13c2c2;
    padding: 0 40px;
}
article {
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: 0 0 20px rgba(212, 129, 129, 0.15);
    background-repeat: no-repeat;
    transition: background-color 2s;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    transition: opacity 2s;
    margin-left: 2%;
    margin-right: 2%;
}

article img:hover {
    transform: scale(1.05);
}
article.fadeIn {
    opacity: 1;
}
hr {
    border-top: 1px solid rgba(0, 0, 0.2);
    margin: 50px 0 20px;
}

footer {
    padding: 20px 0;
    text-align: left;
}
h1{
    margin-left: 20%;
    position: absolute;
    color: #f0883e;
}
h2{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align:center;
    font-size: 30px;
    color: var(--h2-text-color);
}
h3{
    text-align: center;
    color: var(--h3-text-color);
    text-shadow: 0 0 0.5em #315f8f, 0 0 0.2em #5c5c5c;
}
a,p>a{
    color: var(--a-color);
}
a:hover,p>a:hover{
    color: #f0883e;
}
p{
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 10px;
    color: var(--text-color);
}
section>p,section>ul{
    margin-left: 20px;
    margin-right: 20px;
}
.smalltitle{
    color: var(--smalltext-color);
    text-decoration: underline;
    text-align: center;
}
.link:hover,.smalltitle:hover{
    text-decoration: none;
}

.about1,.about2 {
    text-decoration: underline;
    color:  var(--highlight-light);
    padding: 2px 0;
    text-align: center;
}
.about1:hover,.about2:hover {
    text-decoration: none;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.cp {
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    padding: 10px;
    color: var(--text-color);
    display: none;
    z-index: 999;
}
.cp:hover {
    color: #0a8a8a;
}
.cp.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.cp.hide {
    opacity: 0;
    transform: translateY(100%);
}
.img-photo {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: none;
}
:root {
    --background-color-light: #f3f3f3;
    --text-color-light: #333333;
    --smalltext-color-light: #2f9c0a;
    --a-color-light:#c92c2c;
    --h2-text-color-light: #f0883e;
    --h3-text-color-light: #1990b8;
    --background-color-dark: #0d1117;
    --text-color-dark: aliceblue;
    --smalltext-color-dark: #FFFFCC;
    --a-color-dark:#FFFFCC;
    --h2-text-color-dark: #f0883e;
    --h3-text-color-dark: #13c2c2;
    --highlight-dark:#333333;
    --highlight-light:#1990b8;
    --text-color: var(--text-color-dark);
    --bg-color: var(--background-color-dark);
    --smalltext-color: var(--smalltext-color-dark);
    --a-color:var(--a-color-dark);
    --about1-text:有新的想法會持續更新;
    --about2-text:© 2024 陳國翔. All rights reserved.;
    --h2-text-color:var(--h2-text-color-dark);
    --h3-text-color:var(--h3-text-color-dark);
    --highlight:var(--highlight-dark);
}
.dark-theme {
    --text-color: var(--text-color-dark);
    --bg-color: var(--background-color-dark);
    --smalltext-color: var(--smalltext-color-dark);
    --a-color:var(--a-color-dark);
    --h2-text-color: var(--h2-text-color-dark);
    --h3-text-color: var(--h3-text-color-dark);
    --highlight:var(--highlight-dark);
}

.light-theme {
    --text-color: var(--text-color-light);
    --bg-color: var(--background-color-light);
    --smalltext-color: var(--smalltext-color-light);
    --a-color:var(--a-color-light);
    h3{
        text-shadow: none;
    }
    --h2-text-color: var(--h2-text-color-light);
    --h3-text-color: var(--h3-text-color-light);
    --highlight:var(--highlight-light);
    .switch{
        transform: translateX(calc(100%*0.7));
    }
}
#catalog{
    position: fixed;
    padding-top: 5%;
    width: 20%;
    border-radius: 2px;
    cursor: pointer;
}
#catalog>nav>p{
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
}
#catalog nav.active {
    background-color: #f0883e;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
#loadingScreen {
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    justify-content: center;
    align-items: center;
    display: flex;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#mail,#arrow {
    width: 25px;
    height: 25px;
    vertical-align: text-top;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.farea {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}
.farea-top{
    flex: 1;
    min-width: 200px;
    margin: 20px;
    padding: 20px 20px;
}
.farea p,
.farea ul {
    margin: 5px 0;
    font-size: 15px;
    font-weight: bold;
}

.farea ul {
    list-style: none;
    padding: 0;
}

.farea ul li {
    margin: 5px 0;
}

.farea ul li a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.farea ul li a:hover {
    color: #13c2c2;
}
.farea-top h2{
    font-size: 20px;
    text-align: left;
    display: flex;
    align-items: center;
}
.farea h3{
    font-size: 15px;
    font-weight: bold;
}
.footer-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}