.centered-image {
    display: block;
    max-width:70%;
    max-height:40vh;
    margin: 20px auto;
    cursor: pointer;
}
.message-tags {
    border: var(--accent-color) 0.5px solid;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 13px;
    line-height: 14px;
    border-radius: 4px;
    margin: 8px 0 0 8px;
    display: inline-block;
    color: var(--accent-color);
}

.default-message {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.default-message h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.default-message p {
    font-size: 16px;
    margin-bottom: 10px;
}

.default-message ul {
    padding-left: 20px;
    text-align: left;
    display: inline-block;
}

.default-message li {
    margin-bottom: 5px;
}
#languageSwitcher {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
}
#catalog{
    position: fixed;
    padding-top: 4em;
    left: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    transition: transform 0.3s ease;
    z-index: 2;
}
#dynamicNavs>nav,#catalog>h2{
    cursor: pointer;
}
#dynamicNavs>nav>p{
    font-weight: 400;
    font-size: 20px;
    padding-left: 5px;
    color: var(--text-color);
}
#dynamicNavs>nav{
    background-color:#009879;
}
#dynamicNavs>nav:hover>p {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}