@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
body>main{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 5%;
}
body>header{
    z-index: 1000;
    text-align: center;
    top: 0;
    position: fixed;
}
.blogTitle{
    width: 100%;
    display: flex;
    user-select: none;
    left: 0;
    background-color: var(--blog-color);
}
.blogTitle>h1{
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}
.blogTitle:hover>h1{
    opacity: 1;
}
.menu{
    display: flex;
    position: absolute;
    cursor: pointer;
    right: 10px;
}
.menu>span.material-symbols-sharp,.hamburger>div>span.material-symbols-sharp{
    font-size: 2em;
    color: var(--blog-span-color);
}
.blogTitle>h1{
    display: none;
}
@media screen and (max-width: 1001px) {
    body>main{
        padding-top: 15%;
    }
    .navigation {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 60px;
        display: none;
        background-color: var(--blog-color);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    
    .navigation>nav {
        width: 90%;
        display: flex;
        align-items: center;
        margin: 8px 0;
        border: 1px solid #ddd;
        border-radius: 12px;
        padding: 10px 15px;
        justify-content: center;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }
    
    .navigation>nav:hover {
        transform: translateY(-5px);
    }
    
    .navigation>nav>span {
        width: 60px;
        margin-right: 12px;
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .navigation>nav>p {
        font-size: 16px;
        font-weight: 400;
        color: var(--blog-span-color);
    }
    
    .menu>span.material-symbols-sharp,
    .navigation>nav>span.material-symbols-sharp {
        font-size: 2.2em;
        transition: color 0.2s ease-in-out;
    }
    
    p {
        font-size: 0.95em;
        line-height: 1.5;
    }
}
@media screen and (min-width: 1001px) {
    body>main{
        padding-top: 5%;
    }
    .navigation{
        padding-left: 40%;
        align-items: center;
        display: none;
    }
    .navigation>nav{
        display:inline-block;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
    }
    .navigation>nav::after{
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--blog-span-color);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    .navigation>nav:hover::after{
        visibility: visible;
        width: 100%;
    }
    .navigation>nav>span,.menu>span{
        height: 100%;
        width: 30px;
        padding-top: 5%;
        float: left;
        margin-right: 10px;
        color: var(--blog-span-color);
    }
    .navigation>nav>p{
        font-size: 15px;
        font-weight: 400;
        color: var(--blog-span-color);
        padding: 0 40px;
        padding-top: 5%;
    }
}
article {
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: 0 0 20px rgba(212, 129, 129, 0.15);
    transition: background-color 2s;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    transition: opacity 2s;
    margin-left: 2%;
    margin-right: 2%;
    z-index: 1;
}

article.fadeIn {
    opacity: 1;
}
hr {
    border-top: 1px solid rgba(0, 0, 0.2);
    margin: 50px 0 20px;
}

footer {
    padding: 20px 0;
    text-align: left;
}
h1{
    font-size: 25px;
    position: absolute;
    color: var(--blog-span-color);
    margin-left: 5%;
    padding-top: 5px;
}
h2{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align:center;
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--primary-color);
}
h3{
    text-align: center;
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-shadow: 0 0 0.5em #315f8f, 0 0 0.2em #5c5c5c;
}
h4{
    color: var(--tertiary-color);
    text-decoration: underline;
    text-align: center;
}
p{
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 10px;
    color: var(--text-color);
}
span>a{
    color: var(--accent-color);
}
section>p,section>ul{
    margin-left: 20px;
    margin-right: 20px;
}

.about {
    color: var(--text-color);
    padding: 2px 0;
    text-align: center;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--background-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.cp {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    padding: 10px;
    color: var(--text-color);
    display: none;
    z-index: 999;
    user-select: none;
}
.cp:hover {
    color: #0a8a8a;
}
.cp.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.cp.hide {
    opacity: 0;
    transform: translateY(100%);
}
.img-photo {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: none;
}
:root {
    --background-color-light: #ffffff;
    --text-color-light: #0d1117;
    --primary-color-light: #ff4081;
    --secondary-color-light: #1990b8;
    --tertiary-color-light:#0d1117;
    --accent-color-light: #0d1117;
    --img-color-light:#1990b8;
    --blog-color-light:#1990b8;
    --blog-span-color-light:#ffffff;

    --background-color-dark: #0d1117;
    --text-color-dark: aliceblue;
    --primary-color-dark: #f0883e;
    --secondary-color-dark: #13c2c2;
    --tertiary-color-dark:#FFFFCC;
    --accent-color-dark:#FFFFCC;
    --img-color-dark:#333333;
    --blog-color-dark:#000000;
    --blog-span-color-dark:#13c2c2;
}
.dark-theme {
    --background-color:var(--background-color-dark);
    --text-color:var(--text-color-dark);
    --primary-color:var(--primary-color-dark);
    --secondary-color:var(--secondary-color-dark);
    --tertiary-color:var(--tertiary-color-dark);
    --accent-color:var(--accent-color-dark);
    --img-color:var(--img-color-dark);
    --blog-color:var(--blog-color-dark);
    --blog-span-color:var(--blog-span-color-dark);
}

.light-theme {
    --background-color:var(--background-color-light);
    --text-color:var(--text-color-light);
    --primary-color:var(--primary-color-light);
    --secondary-color:var(--secondary-color-light);
    --tertiary-color:var(--tertiary-color-light);
    --accent-color:var(--accent-color-light);
    --img-color:var(--img-color-light);
    --blog-color:var(--blog-color-light);
    --blog-span-color:var(--blog-span-color-light);
}
.light-theme h3 {
    text-shadow: none;
}

.light-theme .switch {
    transform: translateX(calc(100%*0.7));
}
#catalog{
    position: fixed;
    padding-top: 4em;
    left: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    transition: transform 0.3s ease;
    z-index: 2;
}
#catalog>nav,#catalog>h2{
    cursor: pointer;
}
#catalog>nav>p{
    font-weight: 400;
    font-size: 20px;
    padding-left: 5px;
    color: var(--text-color);
}
#catalog>nav{
    background-color:#009879;
}
#catalog>nav:hover>p {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}
#showNavs {
    position: fixed;
    display: none;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

#showNavs:hover {
    background-color: #555;
    transform: translateY(-50%) scale(1.1);
}
nav.hidden {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
nav.visible {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    max-width: 600px;
    max-height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    cursor: pointer;
}
#loadingScreen {
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    justify-content: center;
    align-items: center;
    display: flex;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#mail,#arrow {
    width: 25px;
    height: 25px;
    vertical-align: text-top;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.farea {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}
.farea-top{
    flex: 1;
    min-width: 200px;
    margin: 20px;
    padding: 20px 20px;
    box-shadow: 0 0 20px rgba(212, 129, 129, 0.15);
    border-radius: 10px;
}
.farea p,
.farea ul {
    margin: 5px 0;
    font-size: 15px;
    font-weight: 400;
}

.farea ul {
    list-style: none;
    user-select: none;
    padding-left: 0;
}

.farea ul li {
    margin: 10px 0;
}

.farea ul li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}
.farea ul li a span,
.farea p span{
    font-size: 1.5em;
}
.farea ul li a:hover {
    color: #13c2c2;
    text-decoration: underline;
}
.farea-top h2{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.farea h3{
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(212, 129, 129, 0.15);
}

th,
td {
    padding: 12px 15px;
    color: var(--text-color);
    text-align: left;
}

th {
    background-color: #009879;
    color: #ffffff;
    text-transform: uppercase;
}
td a{
    color: var(--text-color);
}
td a:hover{
    color: var(--primary-color);
}
.highlight {
    background-color: #009879;
    font-weight: bold;
}